@import url('/img/GrowNotes.gif');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  outline:none;
}

body{
	width:100%;
	height:100vh;
	margin:0;
}

#col-banner {
	float:left;
	display:inline-block;
	width:40%;
	height:100vh;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-image:url('/img/GrowNotes.gif');
}

#col-form {
	float:left;
	display:inline-block;
	width:59%;
	height:100vh;
	background-color:#3e4281;
}

	#col-form .form-content{
		position:relative;
		width:80%;
		max-width:600px;
		height:325px;
		margin:auto;
		top:calc(50% - (325px / 2));
	}

	#col-form .form-content h1{
		font-family: 'Montserrat', sans-serif;
		font-size:28px;
		font-weight:500;
		text-align:left;
		margin:0;
		margin-bottom:5px;
		word-spacing:3px;
  		text-shadow: rgb(127, 149, 248) 0px 1px 1px;
		color: #9526f5;
	}

	#col-form .form-content p{
		font-family: 'Open Sans', sans-serif;
		font-size:15px;
		font-weight:500;
		text-align:left;
		margin:0;
		margin-bottom:20px;
		letter-spacing:0.5px;
		margin-bottom:20px;
		color:rgb(255, 255, 255);
  		text-shadow: rgb(32, 31, 31) 0px 1px 1px;
	}

	#col-form .form-content .item{
		width:100%;
	}

	#col-form .form-content .item h3{
		position:relative;
		right:0;
		font-family: 'Montserrat', sans-serif;
		font-size:14px;
		font-weight:400;
		text-align:right;
		letter-spacing:0.2px;
		line-height:45px;
		margin:0;
	}

	#col-form .form-content .item h3 a{
		text-decoration:none;
		color:rgb(255, 255, 255);
		transition:0.2s;
	}

	#col-form .form-content .item h3 a:hover{
		cursor:pointer;
		color:rgb(255, 255, 255);
		transition:0.2s;
	}

	#col-form .form-content .item input{
		width:calc(100% - 61px);
		font-family: 'Open Sans', sans-serif;
		font-size:15px;
		font-weight:400;
		text-align:left;
		margin:0;
		letter-spacing:1.7px;
		padding:17px 0 17px 60px;
		border:1px solid rgb(128, 10, 255, 0.75);
		color:rgb(204, 204, 204);
  		-webkit-text-stroke: 0.45px rgb(128, 10, 255, 0.75);
	}

	#col-form .form-content .item input:focus ~ .item-icon{
		color:#457CFE;
	}

	#col-form .form-content .item button{
		display: inline-block;
		width:calc(50% - 5px);
		font-family: 'Roboto', sans-serif;
		font-size:15px;
		font-weight:600;
		margin:0;
		letter-spacing:1.5px;
		padding:15px;
		color:#ffffff;
		border:0;
		border-radius:5px;
		-webkit-box-shadow: 0px 3px 22px -13px rgb(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 22px -13px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 3px 22px -13px rgba(0,0,0,0.75);
		transition:0.2s; 
	}

	#col-form .form-content .item button:hover{
		cursor:pointer;
		-webkit-box-shadow: 0px 3px 22px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 3px 22px -8px rgba(0,0,0,0.75);
		box-shadow: 0px 3px 22px -8px rgba(0,0,0,0.75);
		transition:0.2s;
	}

	#col-form .form-content .item .item-icon{
		position:absolute;
		font-size:18px;
		margin:20px 20px;
		text-align:center;
		color:#666;
	}

@media only screen and (max-width: 800px) {
	#col-banner{
		width:100%;
		height:calc(100vh - 525px);
	}
	#col-form{
		width:100%;
		height:auto;
		padding:50px 0;
	}
	#col-form .form-content{
		width:85%;
	}
	#col-form .form-content .item button{
		width:100%;
		margin-bottom:15px;
	}
	#col-form .form-content h1{
		font-family: 'Montserrat', sans-serif;
		font-size:24px;
		font-weight:500;
		text-align:left;
		margin:0;
		margin-bottom:5px;
		word-spacing:3px;
  		text-shadow: #fff 0px 1px 1px;
	}
	#col-form .form-content p{
		font-family: 'Open Sans', sans-serif;
		font-size:15px;
		font-weight:400;
		text-align:left;
		margin:0;
		margin-bottom:20px;
		letter-spacing:0.5px;
		margin-bottom:20px;
		color:rgb(255, 255, 255);
  		text-shadow: rgb(255, 255, 255) 0px 1px 1px;
	}
}

@media (max-width:480px){
    head{
        position:fixed;
        width:100%;
    }
    
    .title{
        font-size: 1.5rem;
    }
	main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
	}
}